.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR */
.navbar {
  display: flex;
  height: 40px;
  align-self: flex-start;
  margin-left: 30px;
  margin-top: 30px;
}

.navbar > img {
  height: 100%;
  width: auto;
}

/* LANDING PAGE */
.landing-page {
  flex-direction: column;
  display: flex;
  text-align: center;
  margin-top: 125px;
}

.landing-image-wrapper {
  height: 125px;
}

.landing-image-wrapper > img {
  height: 100%;
  width: auto;
}

.landing-intro {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 25px;
}

.landing-button {
  background-color: #FFF;
  border: 2px #212121 solid;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 3px;
  outline: none;
  width: 170px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-self: center;
  margin-top: 40px;
}

.landing-button:hover {
  background-color: #212121;
  color: #FFF;
  transition: 0.4s ease
}

.call-to-action {
  margin-top: 50px;
}

.section {
  font-family: 'Open Sans', sans-serif;
}

.section-bar {
  background-color: #212121;
  height: 2px;
  width: 50px;
}

/* FOOTER */
.footer {
  background-color: #212121;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 20%;
  width: 100%;
  padding-bottom: 70px;
  padding-top: 90px;
  margin-top: 100px;
}

.footer-row {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .landing-intro {
    font-size: 20px;
  }
}
